# Ignore everything by default
*

# Allow directories to be scanned
!*/

# White-list only specific files and directories
!README.md
!images/
!images/**
!.gitignore
!CHANGELOG.md
!REPORT.md
!vrml_history_and_future_v2.md