# Ignore everything by default
*

# Allow directories to be scanned
!*/

# White-list only specific files and directories
!README.md
!images/
!images/**
!.gitignore
!CHANGELOG.md
!REPORT.md
!APPENDIX_VRML_history_and_future.md
!APPENDIX_VRML_Guide.md